header {
    background-color: #2B2D42;
    padding: 30px;
    color: #EDF2F4;
    font-family: Helvetica;
    margin-bottom: 10px;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 40px;
}
a {
    color: #EF233C;
}

footer {
    background-color: #2B2D42;
    padding: 30px;
    margin-top: 10px;
    color: #8D99AE;
    font-family: Helvetica;
}

header p{
    color: #8D99AE;
}



.education{
    background-color: #8D99AE;
    padding: 30px;
    font-family: Helvetica;

}
