img {
    position: absolute;
}
#arch {
    top: 100px;
    left: 100px;
}
#tech {
    top: 100px;
    left: calc(100% - (100%/3));
}
#animals {
    top: calc(100% - (100%/4));
    left: calc(100% - (100%/3));
}
#nature {
    left: 100px;
    top: calc(100% - (100%/4));

}